.section-block {
    margin-top: 15px;
    background: #e0e0e0;
}

.section-block .input-group {
    margin-bottom: 18px;
    padding-top: 18px;
}

.section-block .info-status {
    color: red;
}

.hide-box {
    display: none;
}