<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/npm.js"></script>
    <script src="../../public/js/index.js"></script>
    <link rel="stylesheet" href="/public/main.css" type="text/css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row nav">
                <div class="col-md-5">
                    <h2>欢迎来到三体世界！</h2>
                </div>
                <div class="col-md-7">
                    <ul class="nav nav-pills pull-right navbar-nav">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Profile</a></li>
                        <li role="presentation"><a href="#">Messages</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container section-block form-wrap hide-box">
            <div class="input-group">
                <input type="text" name="username" class="form-control" placeholder="用户名">
            </div>

            <div class="input-group">
                <input type="password" name="password" class="form-control" placeholder="密码">
            </div>

            <div class="input-group">
                <input type="password" name="repassword" class="form-control" placeholder="确认密码">
            </div>

            <label class="info-status"></label>

            <div class="input-group">
                 <button type="button" id="btn-reg" class="btn btn-success">注册</button><br /><br />
                 <a href="javascript:;" id="showLoginBtn">已有账号？ 点击登录</a>
            </div>
        </div>
        <div class="container section-block form-wrap-login">
            <div class="input-group">
                <input type="text" name="username" class="form-control" placeholder="用户名">
            </div>

            <div class="input-group">
                <input type="password" name="password" class="form-control" placeholder="密码">
            </div>

            <div class="input-group">
                 <button type="button" id="btn-login" class="btn btn-success">登录</button>
            </div>
        </div>
    </section>
</body>
</html>
