<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的博客</title>
     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../public/css/main.css" />
</head>
<body>
    <section>
        <section class="banner"></section>
    </section>

    <nav class="collapse navbar-collapse nav-style">
        <ul class="nav navbar-nav margin-auto">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JS</a></li>
            <li><a href="#">NODEJS</a></li>
        </ul>
    </nav>

    <article class="container article-content">
        <div class="row">
            <div class="col-md-8">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>vue.js</h1>
                        <p>作者： <a href="#">admin</a> - 时间： <a href="#">2018 年 11 月 11 日 16:24;36</a> - 阅读 <a href="@">0</a></p>
                        <div class="des-content">
                            您低价房砥砺奋进累计发电量空间了JFK的JFK大家看法甲方的空间看！
                        </div>
                        <p class="caption-footer">
                            <button type="button" class="btn btn-info">阅读全文</button>
                        </p>    
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h1>vue.js</h1>
                        <p>作者： <a href="#">admin</a> - 时间： <a href="#">2018 年 11 月 11 日 16:24;36</a> - 阅读 <a href="@">0</a></p>
                        <p>
                            <button type="button" class="btn btn-info">阅读全文</button>
                        </p>    
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h1>vue.js</h1>
                        <p>作者： <a href="#">admin</a> - 时间： <a href="#">2018 年 11 月 11 日 16:24;36</a> - 阅读 <a href="@">0</a></p>
                        <p>
                            <button type="button" class="btn btn-info">阅读全文</button>
                        </p>    
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h1>vue.js</h1>
                        <p>作者： <a href="#">admin</a> - 时间： <a href="#">2018 年 11 月 11 日 16:24;36</a> - 阅读 <a href="@">0</a></p>
                        <p>
                            <button type="button" class="btn btn-info">阅读全文</button>
                        </p>    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                kjkjkjk
            </div>
        </div>
    </article>
</body>
</html>
